body {
    background-color: yellow;
    font: normal 16pt Segoe Ui;
    text-align: center;
}

header {
    background-color: black;
    color: yellow;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

section {
    background-color: white;
    width: 400px;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.39);
    padding: 50px;
}

footer {
    font-style: italic;

}